*{
    background-color: rgb(0, 0, 0);
    color: white;
    background-image: url(/file/ss.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1000px;
    background-position:top;


}


li{
    list-style-type:square;
}
 .new{
    color: palevioletred;
    background-color: aliceblue;
 }
 #para{
    color:aqua;
    background-color: white;

 }
 a:visited{
    color: palevioletred;
    text-decoration: none;
 }
 a:hover{
    color: aqua;
 }
 h4+h5 {
    color: maroon;
 }
 p[class]{
    font-size: 50px;
 }
 h1{
   color:#8a63e679;
   background-color: rgba(100, 201, 255, 0.333);
}