*{
    background-color: black;
    color: white;

}


li{
    list-style-type:square;
}
 .new{
    color: palevioletred;
    background-color: aliceblue;
 }
 #para{
    color:aqua;
    background-color: white;

 }
 a:visited{
    color: palevioletred;
    text-decoration: none;
 }
 a:hover{
    color: aqua;
 }
 h4+h5 {
    color: maroon;
 }
 p[class]{
    font-size: 50px;
 }
 h1{
   color:#8a63e6;
   background-color: rgb(100, 200, 255);
}